<form id="dragFileForm">
    <lable for="fileInput" id="fileLable" class="d-block p-3 bg-secondary text-white text-center pt-3 pb-3 mt-4 mb-1 text-capitalize lead rounded"
        style="height: 150px;" ondragover="overrideDefault(event)" ondragenter="overrideDefault(event)" ondragleave="overrideDefault(event)"
        ondrop="overrideDefault(event);addFiles(event);" onclick="clicked()">
        <i class="fas fa-download fa-3x pb-2"></i>
        <br>
        <span id="fileLableText">[ Drag and drop or click to add file]</span>

    </lable>

    <input type="file" name="files" id="fileInput" class="d-none" multiple onchange="addFiles(event)" required>

    <small id="emailHelp" class="form-text text-muted mb-4">At least one file must be chosen<i class="fas fa-info-circle fa-1x ml-2"></i>
    </small>

    <input type="button" value="upload" class="btn btn-outline-primary btn-lg btn-block mb-5" onclick="setData(event)">
</form>

<script type="text/javascript">

    const fileLableText = document.getElementById('fileLableText')
    const fileInput = document.getElementById('fileInput')
    let droppedFiles
    let add = true

    const resetText = () => {
        fileInput.innerHTML = 'mahir'
    }

    const overrideDefault = (event) => {
        event.preventDefault()
        event.stopPropagation()
    }

    const addFiles = (event) => {
        droppedFiles = event.target.files || event.dataTransfer.files
        add = true
        if (droppedFiles.length >= 1 && add) {
            fileLableText.innerText = `[ ${droppedFiles.length} file(s) selected ]`
        }
    }

    const clicked = () => {
        fileInput.click()
    }
</script>