<div>
    <h1 class="text-info p-3 mb-2 display-4">About</h1>

    <p class="lead text-justify text-capitalize p-3 mb-2 bg-light ">This is a
        node express
        app. This can be used
        to open a
        server on a personal PC. Then using it
        anyone can transfer
        various kinds of files to the server pc from the net. This uses tunneling usong the great ngrok.</p>

    <p class="p-3 mb-1">Have fun.</p>

    <p class="p-3 mb-2">Version 1.0.0</p>

</div>